.notifications {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999999999;
  &__item {
    //opacity: 0;
    position: relative;
    padding: 12px 18px;
    display: flex;
    color: #fff;
    border-radius: 3px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
    //transform: scale(0);
    &:last-child {
      margin-bottom: 0;
    }
    &.--success {
      background: #4BB543;
    }
    &.--error {
      background: #ff3333;
    }
    &.--warn {
      background: #ffcc00;
    }
    &.--info{
      background: #bfe1fa;
      color: #333;
    }
    &.--show {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__icon {
    width: 24px;
    min-width: 24px;
    margin-right: 10px;
  }
  &__title {
    padding-top: 3px;
    font-weight: 700;
  }
  &__desc {
    margin-top: 10px;
  }
}
